@mixin anime($name, $duration) {
  animation-name: $name;
  animation-duration: $duration;
}

.header {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  background-color: red;

  &__param {
    width: 233px;
    display: flex;
    justify-content: space-between;

    &-bth,
    &-celsius,
    &-fahrenheit {
        width: 44px;
        height: 44px;
        outline: none;
        cursor: pointer;
        // &:active {
        //     border-radius: 50%;
        // }
    }
  }

  .unit-active {
    border-radius: 50%;
  }

  &__select {
    width: 71px;
    height: 44px;
    cursor: pointer;
  }

  &__searching {
    width: 375px;
    display: flex;

    @media (max-width: 607px) {
      margin-top: 10px;
    }

    &-city {
        width: 100%;
        height: 38px;
    }
    
    &-voice {
        height: 44px;
        width: 44px;
        cursor: pointer;
        outline: none;
        &:active {
            @include anime(rad, 3s);
        }
    }

    &-bth {
        height: 44px;
        width: 101px;
        cursor: pointer;
        outline: none;
        &:active {
            border-radius: 50%;
        }
    }
  }
}

@keyframes rad {
  from {
      border-radius: 20%;
  }
  to { 
      border-radius: 50%;
  }  
}