.weather__today {
  display: flex;
  justify-content: space-around;

  &-value {
    font-style: normal;
    font-weight: bold;
    font-size: 15rem;
    line-height: 373px;
    text-transform: uppercase;
    color: #ffffff;
  }

  &__desc__list {
    font-style: normal;
    font-weight: bold;
    font-size: 1.38rem;
    line-height: 37px;
    text-transform: uppercase;
    color: #ffffff;
    &-item {
        list-style-type: none;
    }
  }
}

@media (max-width: 1160px) {
  html {
      font-size: 16px;
  }
  .weather__today-value {
      line-height: 200px;
  }
}
@media (max-width: 448px) {
  .weather__today {
      flex-wrap: wrap;
      &-value {
        line-height: 1;
      }
  }
}
