.geolocation-wrapper {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background: rgba(0, 0, 0, 0.3);

  & .map {
    width: 320px;
    height: 390px;
    margin-bottom: 15px;
    background-color: red;
  }
}

.geolocation--latitude,
.geolocation--longitude {
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 30px;
  text-align: right;
  text-transform: capitalize;
  color: #ffffff;

}